////////////////////////////////////////////////////////////////////////////////
/// BEGIN: COMMENT
//  INHERITED FROM BASE APPLICATION
//  SET HERE TO AVOID CONFLICTS 
////////////////////////////////////////////////////////////////////////////////
$sdl-padding: 16px;
$component-background-color: var(--c3-style-componentBackgroundColor);
$border-radius-large: 5px;

@mixin vertical-container($align-items: normal, $justify-content: flex-start) {
    display: flex;
    flex-direction: column;
    align-items: $align-items;
    justify-content: $justify-content;
}

////////////////////////////////////////////////////////////////////////////////
/// END: COMMENT
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
/// BEGIN: CHANGE
////////////////////////////////////////////////////////////////////////////////
.sdl-chat-box-expanded-guru {
    @include vertical-container;
  
    position: fixed;
    top: 30;
    left: 0;
    bottom: 30;
    right: 0;
    margin: unset;
    background-color: $component-background-color;
    border-radius: $border-radius-large;
    z-index: 1000;
    border-radius: 0;
}
////////////////////////////////////////////////////////////////////////////////
/// END: CHANGE
////////////////////////////////////////////////////////////////////////////////
