export C3_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzUxMiJ9.eyJhcHAiOiJsb2NhbC1jMy1jMyIsImZpcnN0bmFtZSI6IkJBX0ZpcnN0IiwiaXNzIjoiYzMuYWkiLCJncm91cHMiOlsiQzMuQ2x1c3RlckFkbWluIl0sImxhc3RuYW1lIjoiQkFfTGFzdCIsInNpZCI6MSwiYXVkIjoiYzMuYWkiLCJpZHAiOiJUZXN0SWRwIiwiYzNncm91cHMiOlsiQzMuQ2x1c3RlckFkbWluIl0sImlkcGdyb3VwcyI6Int9Iiwic3NpZHgiOiIiLCJuYW1lIjoiQkEiLCJhY3Rpb25pZCI6Ijk2NzQuMjAzOTk1IiwiaWQiOiJCQSIsImV4cCI6MTcxMzQxNzA2MTAwMCwiZW1haWwiOiJiYUBjMy5haSJ9.K1b0D5lLg4hptzkf_Gi2aPuwL9I6FOIGjtdO_kb9sSxP2GHCv3gE1GNkwi4OK90Ia3GAMXXzq8C_naSjEk0CAatCsdDCZ-qY4kKwzkOEuEJGqMOYs4UcCPk_AvndX8fX6eJxdne0s6A41TbWkZhCXLrZMtmhko1U1IlrfK9a01fz8ytoooEc5o2tq9paBdDycuuJGTdaFkuP94DStohnyduHjNkcJnLt1RWlhFgBH49V-DzwL5JelKIar-vJ2b2NsPPJ1V9Vawp6_akCAXUWhwkpkYiQQOZKfigWacUdtZlLdeCc_gA86yoXi9xo63x5ZARyqRYMZGWave4bN2YUTg"
export C3_URL="http://localhost:8888/c3/c3"
export CONFLUENCE_USERNAME="luis.fernandez-de-la-vara@c3.ai"
export CONFLUENCE_API_TOKEN="ATATT3xFfGF0NVF8y2rxpe7eeHNny7bV3FmdkVpWdB77Cm6nlR3xAIei6oY-pVlHS3FOgM9TOMW1sNgdOycb8TEwJuQiGpKue_YuUinATRnquAJgCK5-trH6LPA0CYCo4jwO-CeVNJ6gmrKCJKU3Hj1eLykpBjO7zzTkQyOs1yZrhWL7WDhGgfE=0D05FEF3"
export CONFLUENCE_PARENT_ID="8676409880"
export CONFLUENCE_BASE_URL="https://c3energy.atlassian.net"
export CONFLUENCE_LOCAL_ROOT="CONFLUENCE_LOCAL_ROOT"
export PTPYTHON_CONFIG_HOME="Users/lefv/repos/lsh/lpy/config"
export EDITOR="nvim"
export OPEN_AI_KEY="sk-proj-oBP7smb7d4qkU8GmQZvoT3BlbkFJaYBFKUjalOk6kOMNT3O7"
export GITHUB_API_KEY="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"