export C3_TOKEN="REDACTED"
export C3_URL="http://localhost:8888/c3/c3"
export CONFLUENCE_USERNAME="luis.fernandez-de-la-vara@c3.ai"
export CONFLUENCE_API_TOKEN="REDACTED"
export CONFLUENCE_PARENT_ID="8676409880"
export CONFLUENCE_BASE_URL="https://c3energy.atlassian.net"
export CONFLUENCE_LOCAL_ROOT="CONFLUENCE_LOCAL_ROOT"
export PTPYTHON_CONFIG_HOME="config"