export C3_SERVER_ROOT="$(expand_path .)"
PATH_add "${C3_SERVER_ROOT}"
PATH_add scripts
PATH_add infra/bin

# check if we're running on macOS
function is_macOS() {
    [ "$(uname)" = "Darwin" ]
}

# determine whether or not we are in a git repo
is_git_repo() {
    git rev-parse --git-dir > /dev/null 2>&1
}

# path to root of git worktree
git_worktree_root() {
    git rev-parse --show-toplevel
}

# Heuristic to determine what major version is intended to be built in
# worktree. Based on name of worktree directory or its parent directory.
# Examples recognized as 7.* worktrees are:
# - wip/v7
# - v7/support
# - support/v7.19
# - v7.19/support
major_version() {
    local worktree
    worktree="$1"

    version_seven='v7(\.[[:digit:]]+)*'

    if [[ "$(basename $worktree)" =~ $version_seven ]] || \
        [[ "basename $(dirname $worktree)" =~ $version_seven ]]; then
        echo 7
    else
        echo 8
    fi
}

if is_git_repo; then
    version="$(major_version "$(git_worktree_root)")"

    # map from major version to build tool
    case $version in
        7) C3_BUILD_TOOL=maven
        ;;
        *) C3_BUILD_TOOL=gradle
        ;;
    esac

    # Env var to be used to distinguish between 7.* (maven) and V8 (gradle) based configurations
    export C3_BUILD_TOOL

    # Set env vars required for use_node function
    # https://github.com/direnv/direnv/blob/729fbecd96f3e827575f19497bc01df33395d679/stdlib.sh#L1054
    NODE_VERSION_PREFIX="v"
    NODE_VERSIONS="$HOME/.nvm/versions/node"
    source_env_if_exists "scripts/workspace"
    source_env_if_exists "scripts/v${version}/v${version}-workspace"
fi
