---

c3-persistence:
  postgresql:
    service:
      loadBalancerIP: "{{ (ds "cli").loadBalancerNetwork }}.110"
  cassandra:
    service:
      loadBalancerIP: "{{ (ds "cli").loadBalancerNetwork }}.111"

c3-selenium:
  c3Selenium:
    firefox:
      service:
        loadBalancerIP: "{{ (ds "cli").loadBalancerNetwork }}.121"
    chrome:
      service:
        loadBalancerIP: "{{ (ds "cli").loadBalancerNetwork }}.120"
