export C3_CONDA_ENVS=/usr/local/share/c3/conda/envs
export C3_JEP_ENV=/usr/local/share/c3/conda/envs/jep
export C3_JEP_ENV=/usr/local/share/c3/conda/envs/jep
export C3_JEP_VERSION=4.7
export JARS_PATH=/usr/local/lib/c3/java
